*~
*.o
*.lo
*.la
*.ce
*.cce
*.he
Makefile
autom4te.cache/
config.h
config.log
config.status
.deps/
*.gmo
intl/
po/aria2.pot
po/remove-potcdate.sed
src/libaria2.pc
libaria2api
libaria2ex
libaria2wx
.dirstamp
.libs
main.log
main.trs
test-suite.log
